pretrained_structure_model_path: null #/Users/federico/Desktop/imperial/nmiracle_ready/nmiracle/ckpts/sub2struct/checkpoints/epoch=439-val_loss=0.04.ckpt
use_multitask: true

d_model: 128

structure_model:
  d_model: ${model.d_model}
  nhead: 8
  num_encoder_layers: 6
  num_decoder_layers: 6
  dim_feedforward: 1024
  layer_norm_eps: 1e-05
  batch_first: true
  norm_first: false
  dropout: 0.1

multispectra_encoder:
  d_model: ${model.d_model}
  nhead: 4
  fusion_layers: 2
  spectrum_encoder_layers: 2
  pool_size_1: 12
  out_channels_1: 64
  kernel_size_1: 5
  pool_size_2: 20
  out_channels_2: 128
  kernel_size_2: 9
  add_pos_encode: true
  fusion_scheme: transformer
  n_ir_features: ${data.dataset.n_ir_features}
  n_hnmr_features: ${data.dataset.n_hnmr_features}
  n_cnmr_features: ${data.dataset.n_cnmr_features}
  use_ir: ${data.use_ir}
  use_hnmr: ${data.use_hnmr}
  use_cnmr: ${data.use_cnmr}
  cnmr_binary: ${data.cnmr_binary}
  cnmr_binary_bins: ${data.dataset.cnmr_binary_bins}

# Optimization
optimizer:
  lr: 1.0e-5